.labelForm {
    width: 90%;
    margin: auto;
    display: block;
    font-size: 18px;
    margin-top: 2vh;
}

.textAreaForm {
    width: 90%;
    margin: auto;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    border: solid 1px lightgray;
    padding: 2px 5px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.textAreaForm:focus {
    border: 2px solid #61123296;
    box-shadow: 0 0 5px #61123296;
    outline: none;
  }